<%- include('partial/header'); -%>

<div class ="color heading-container ">
    
    <!-- <div class="container heading-img" >
        <img class ="heading-img" src="design.png" alt="" srcset="">
    </div> -->

    <div class ="heading container">
        Perfect Portfolio Website Buider
    </div>
</div>

<div class ="guide-heading">
    Build Your Portfolio Website Fast and Easy.
</div>
<hr>
<div class="info">
    <div class ="info-content"> 
        WebPage is lightning fast. There's no software to download. No multi-part sign-up form. No long-winded tutorials. Just a straightforward process.
    </div>
</div>

<div class="tutorial">
    <div class="tutorial-heading">Pick a Templete</div>
    <div class="tutorial-content">Don't sabotage your job search before it has even begun. Choose from our ATS-friendly, hand-crafted portfolio templates</div>
</div>

<div class="tutorial">
    <div class="tutorial-heading">Customize Your Layout</div>
    <div class="tutorial-content">Make the portfolio template truly your own. Customize the layout based on your experience level.</div>
</div>


<div class="tutorial">
    <div class="tutorial-heading">Fill in the Blanks</div>
    <div class="tutorial-content">Fill in your portfolio information, let our AI content analyzer do its job, and see your portfolio changes dynamically in real time.</div>
</div>

<div class="tutorial">
    <div class="tutorial-heading">Hit 'Publish!'</div>
    <div class="tutorial-content">And yes, it's free! We don't hit you with a paywall once you've completed your portfolio in the Basic Account. If you use any of our premium features, the software will let you know about it.</div>
</div>


<%- include('partial/footer'); -%>