<%- include('partial/header'); -%>

    <div class="color heading-container ">

        <!-- <div class="container heading-img" >
        <img class ="heading-img" src="design.png" alt="" srcset="">
    </div> -->

        <img class="imgh" src="design final.png" alt="image">
        <div class="heading container">
            Perfect Portfolio Website Builder
        </div>
    </div>

    <div class="guide-heading">
        Build Your Portfolio Website Fast and Easy.
    </div>
    <div class="info">
        <div class="info-content">
            WebPage is lightning fast. There's no software to download. No multi-part sign-up form. No long-winded
            tutorials. Just a straightforward process.
        </div>
    </div>

    <div>

        <div class="leftdiv">
            <div class="tutorial col-lg-6">
                <div class="tutorial-heading">Pick a Template</div>
                <div class="tutorial-content">Don't sabotage your job search before it has even begun. Choose from our
                    ATS-friendly, hand-crafted portfolio templates</div>
            </div>
        </div>

        <div>

            <div class="rightdiv col-lg-6">
                <div class="tutorial1">
                    <div class="tutorial-heading">Customize Your Layout</div>
                    <div class="tutorial-content">Make the portfolio template truly your own. Customize the layout based
                        on your experience level.</div>
                </div>
            </div>

        </div>



        <div class="leftdiv ">
            <div class="tutorial col-lg-6 ">
                <div class="tutorial-heading">Fill in the Blanks</div>
                <div class="tutorial-content">Fill in your portfolio information, let our AI content analyzer do its
                    job, and see your portfolio changes dynamically in real time.</div>
            </div>
        </div>

        <div>

            <div class="rightdiv  col-lg-6">
                <div class="tutorial">
                    <div class="tutorial-heading">Hit 'Publish!'</div>
                    <div class="tutorial-content">And yes, it's free! We don't hit you with a paywall once you've
                        completed your portfolio in the Basic Account. If you use any of our premium features, the
                        software will let you know about it.</div>
                </div>
            </div>


        </div>
    </div>


    </div>
    <!-- Why web Page  -->
    <div class="guide-heading col-lg-12">
        Why Web Page
    </div>



    <div class="why mx-2">
        <div class="container-fliud">
            <div class="tutorial col-lg-5">
                <div class="tutorial-heading">Free And Premium</div>
                <div class="tutorial-content">We offer both free and premium portfolio templates, so whatever your budget
                    might be, you can still take advantage of our portfolio builder.</div>
            </div>

            <div class="tutorial col-lg-5">
                <div class="tutorial-heading1">Creative & Professional WebPage Templates</div>
                <div class="tutorial-content1">Whether you’re a creative advertiser looking for an outside-the-box
                    creative Webpage, we’ve got a template for you!</div>
            </div>

            
            <div class="tutorial2 col-lg-6">
                <div class="tutorial-heading">No Hidden Fees</div>
                <div class="tutorial-content">If you’ve tried other portfolio builders, you’ve probably experienced
                    this: You spend hours creating a WebPage, and when you click “Publish” you get hit with a paywall
                    asking you to subscribe.</div>
            </div>
        </div>
    </div>