<%- include('partial/header');  %>
<div class = "color">
    <div class="heading container ">
        Choose the Templet you Love
    </div>
</div>



    <div class="templates col-lg-6">
        <a href="/templates/darkweb">
            <img class="templates-img" src="images/darkweb.jpg" alt="">
        </a>
        <p>Dark portfolic Website</p>
    </div>
    
    

    <div class="templates col-lg-6">
        <a href="/templates/darkweb">
            <img class="templates-img" src="images/darkweb.jpg" alt="">
        </a>
    </div>
