.color{
    /* background: #FFBBBB; */
    /* background: #86C6F4; */
    /* background: #ED5EDD; */
    /* background:#8BDB81; */
    background:#f15affaf
}

/* body{
    background-image: -webkit-linear-gradient(35deg, #A683E3 50%, #E4E9FD 50%);
    background-image: radial-gradient(#EA52F8 5.66%, #0066FF 94.35%);
} */
.container{
    margin:0;
}

a{
    color:black;
}
.header {
    padding: 40px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;
    float: left;
}
.head
{
    float: left;
}
.navbar{
    /* background: #FFBBBB;   */
    margin-bottom: 0; 
}

.header-left{
    float: right;
    padding: 40px;
}

.heading-container{
    display: block;
    padding-left: 3%;
}
.header-element{
    float: left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.heading{
    color: black;
    font-size: 70px;
    font-weight: bold;
    width: 30%;
    padding: 60px;
    padding-bottom: 150px;
    
}

.heading-img{
    width: 50%;
    height: 50%;
    float: right;
}

.guide-heading{
    margin-top: 40px;
    padding: 25px;
    padding-bottom: 40px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

/* hr{ 
    border-radius: 30px;
    width: 40px;
    border-width: 7px;
    border-color:rgb(0, 110, 255);
    text-align: center;
} */

.info-content{
    padding: 25px;
    margin: 40px 40px auto;
    color:rgb(73, 85, 97);
    font-size: 25px;   
    text-align: center;
}

.info{
    margin: 10px 20% 10px;
    text-align: center;
    border-radius: 29px;
}



.tutorial{
    background-color: #f3f3f3b9;
    margin: 30px 30px 30px;
    padding: 15px 15px; 
    text-align: center;
    border-radius: 5px;
    
}

.tutorial1{
    background-color: #f3f3f3b9;
    margin: 30px 30px 30px;
    padding: 15px 15px; 
    text-align: center;
    border-radius: 10px;
}


.tutorial2
{
    background-color: #f3f3f3b9;
    margin: 40px 10px 40px 10px;
    padding: 15px 15px; 
    text-align: center;
    border-radius: 10px;
}
.leftdiv :hover
{
    background: #9AD0EC;
}


.rightdiv :hover
{
    background: #9AD0EC;
}

.pad
{
    margin-bottom: 10px;
}

.tutorial-heading 
{
    padding-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 40px;
}
.tutorial-content
{
    padding: 25px;
    margin: 0px 40px auto;
    color:rgb(79, 89, 98);
    font-size: 25px;   
    text-align: center;
}

.tutorial-heading1
{
    padding-top: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
}
.tutorial-content1
{
    padding-top: 18px;
    margin: 0px 40px auto;
    color:rgb(79, 89, 98);
    font-size: 25px;   
    text-align: center;
    padding-bottom: 20px;
}

.templates{
    text-align: center;
    margin-top: 40px;

}

.templates-img{
    width: 30rem;
    height: 30rem;
    border-radius: 30px; 
}


p{
    font-size:30px;
    padding-top: 30px;
    font-weight:bold;
}

.footer{
    text-align:center;
}

.imgh
{
    width: 40%;
    height: 33%;
    position: relative;
    float: right;
    margin-right: 10%;
    margin-top: 3%;
}

@media only screen and (min-width: 1200px){
    /*Tablets [601px -> 1200px]*/

    .tut-container {
        padding-left:60px;
        margin-left:60px;
    }

    .why{
        padding-left:60px;
        margin-left:60px;
    }
}
.rightdiv
{
    float: right;
    padding: 0%;
    margin: 0%;
    margin-top: 40px;
}

.leftdiv{
    margin-left:1%;
    margin-right: 3%;
    /* margin-top: 40px; */
}

/* body {
    background-color: #E8ECEF;
  } */
  
  .centered {
      padding-top: 200px;
      text-align: center;
  }
  
  .secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
  }

/* NavBar CSS */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}
nav
{
    background: #203239;
    height: 95px;
    width: 100%;
}
label.logo
{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;  
    padding: 7px 13px;
    border-radius: 3px;
    font-size: 21px;
    font-family: 'Open Sans Condensed', sans-serif;
}
a:hover{
    background: #EEEDDE;
    transition: .5s;
}

.checkbtn
{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check
{
    display: none;
}
@media (max-width: 952px)
{
    label.logo
    {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li
    {
        font-size: 16px;
    }
}

@media (max-width: 858px)
{
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;

    }
    a:hover, a.active{
        background-color: none;
        color: #0082e6;
    }
    #check:checked ~ ul
    {
        left: 0;
    }

    .tutorail-heading{
        padding: 0%;
    }

    
}
section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
}