.color{
    /* background: #FFBBBB; */
    /* background: #86C6F4; */
    /* background: #ED5EDD; */
    /* background:#8BDB81; */
    background:#f15affaf
}

body{
    background-image: -webkit-linear-gradient(35deg, #A683E3 50%, #E4E9FD 50%);
    background-image: radial-gradient(#EA52F8 5.66%, #0066FF 94.35%);
}
.container{
    margin:0;
}

a{
    color:black;
}
.header {
    padding: 40px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;
    float: left;
}

.navbar{
    /* background: #FFBBBB;   */
    margin-bottom: 0; 
}

.header-left{
    float: right;
    padding: 40px;
}

.heading-container{
    display: block;
}
.header-element{
    float:left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.heading{
    color: black;
    font-size: 70px;
    font-weight: bold;
    width: 30%;
    padding: 60px;
    padding-bottom: 150px;
    
}

.heading-img{
    width: 50%;
    height: 50%;
    float: right;
}

.guide-heading{
    margin-top: 40px;
    padding: 25px;
    padding-bottom: 10px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

hr { 
    border-radius: 30px;
    width: 40px;
    border-width: 7px;
    border-color:rgb(0, 110, 255);
}

.info-content{
    padding: 25px;
    margin: 40px 40px auto;
    color:rgb(73, 85, 97);
    font-size: 25px;   
    text-align: center;
}

.info{
    margin: 10px 20% 10px;
    text-align: center;
    border-radius: 29px;
}



.tutorial{
    background-color: #f3f3f3b9;
    margin: 30px 30px 30px ;
    /* padding: 30px 30px 30px; */
    text-align: center;
    border-radius: 29px;
    
}

.tutorial-heading{
    padding-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 40px;
}
.tutorial-content{
    padding: 25px;
    margin: 0px 40px auto;
    color:rgb(73, 85, 97);
    font-size: 25px;   
    text-align: center;
}


.templates{
    text-align: center;
    margin-top: 40px;

}

.templates-img{
    width: 30rem;
    height: 30rem;
    border-radius: 30px; 
}


p{
    font-size:30px;
    padding-top: 30px;
    font-weight:bold;
}

.footer{
    text-align:center;
}



@media only screen and (min-width: 1200px){
    /*Tablets [601px -> 1200px]*/

    .tut-container {
        padding-left:60px;
        margin-left:60px;
    }

    .why{
        padding-left:60px;
        margin-left:60px;
    }
}


/* body {
    background-color: #E8ECEF;
  } */
  
  .centered {
      padding-top: 200px;
      text-align: center;
  }
  
  .secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
  }
  