<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
  <link rel="stylesheet" href="style.css">

  <div class = "color  navbar navbar-expand-lg  ">
    
    <div class="header " >WebPage</div>
    <div class="header-left">
      <div class="header-element"> <a  href="/">Home</a>  </div>
      <div class="header-element" > <a href="/templates"> templates </a> </div>
      <div class="header-element" > <a href="#pricing">pricing </a>  </div>
    </div>
  </div>

  <body>
    
